@model InstantMessage.Models.User
@using InstantMessage.Models

@{
    ViewBag.Title = "Conversation";
}
<style>
        .flex-container {
            display: flex;
            flex-direction: column;
            width: 800px;
            height: 250px;
            background-color: lightgrey;
        }

        .flex-item {
            background-color: white;
            width: 400px;
            height: 30px;
            margin: 10px;
        }

        #conversation-content {
            background-color: white;
            width: 400px;
            height: 200px;
            margin: 10px
        }

        #contact-block {
            background-color: white;
            width: 400px;
        }

        /* The side navigation menu */
        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 0;
            background-color: lightgray; /* grey*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 60px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

            /* The navigation menu links */
            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s
            }


    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

            /* Position and style the close button (top right corner) */
            .sidenav .closebtn {
                position: absolute;
                top: 20px;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            padding: 20px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
      see https://www.w3schools.com/howto/howto_js_sidenav.asp
    */
</style>

<div id="mySideNav" class="sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h5>Conversations</h5>
</div>

<div id="newConversationSideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNewConversationNav()">&times;</a>
    <h4>Select a contact</h4>
    <div class="flex-item" id="selectedContact"><div class="flex-item">Conversation with:<div id="contact-block"></div></div></div>
</div>

<div id="main">
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            Give your conversation a name:<br>
                            <input type="text" id="conName" name="conName"><br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="conNameButton" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newMessageNotification">
        <span id=newMessageNotificationId></span>
        <span style="font-size:20px" id="newMessageNotificationSpan">Notifications</span>
    </div>
    <!-- Use any element to open the sidenav -->
    <div>
        <span style="font-size:30px;cursor:pointer" id="newConversationNavSpan" onclick="openNewConversationNav()">&#9776; New Conversation</span>
    </div>
    <div>
        <span style="font-size:30px;cursor:pointer" id="existingConversationNavSpan" onclick="openNav()">&#9776; View Conversations</span>
    </div>
    <div id="connectionStatus">
        <span style="font-size:15px" id="connectionSpan">&#9776; Connection Status: Not Connected </span>
    </div>


    <div id="conversation-container">
       <div class="flex-item" id="conversation-content">
           <h4 id="conversationHeading"></h4>
            <input type="hidden" id="displayname" />
            <ul id="discussion"></ul>
        </div>
        <div class="flex-item" id="message-div">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
        </div>
    </div>
   
</div>



@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->

    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySideNav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        //for development purposes leave nav open on load
        $(function () {
            openNav();

        })

        function openNewConversationNav() {
            document.getElementById("newConversationSideNav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySideNav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        function closeNewConversationNav() {
            document.getElementById("newConversationSideNav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        //global variables accecptable?
        var recipients = [];
        var conversationID = null;
        var conversationName = null;
        var connected = false;
        var chat = $.connection.chatHub;
    

        //Add new message to page
        chat.client.addNewMessageToPage = function (name, message) {
            // Add the message to the page.
            $('#discussion').append('<li><strong>' + htmlEncode(name)
                + '</strong>: ' + htmlEncode(message) + '</li>');
        };

        
        chat.client.returnConversationDetails = function (conID) {
            conversationID = conID;
            alert(conversationID + "conversationID");
        }

        chat.client.display = function (contact) {
        };


        //Start connection
        $.connection.hub.start()
            .done(
            $.connection.hub.logging = true,
            function () {
                console.log("success");
                connected = true;
                setConnectionStatus();
                //anytime conversations reloaded make sure 
               // $("div").remove(".conItem");
               // chat.server.getAllConversations();
                getAllConversations();
                // gotAnyNew messages?
            }).fail(function () {
                connected = false;
                setConnectionStatus();
            })

        //attempt to reconnect 5 seconds after connection drops//refactor this with method above
        //to reduce code duplication. 
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start().done(
                    $.connection.hub.logging = true,
                    function () {
                        console.log("success");
                        connected = true;
                        setConnectionStatus();
                      //  $("div").remove(".conItem");
                       // chat.server.getAllConversations();
                        getAllConversations();
                        // gotAnyNew messages?
                    }).fail(function () {
                        connected = false;
                        setConnectionStatus();
                        console.log("connection attempt failed");
                    })
            }, 5000); // Restart connection after 5 seconds.
        });

        function getAllConversations() {
            $(".conItem").remove();
            chat.server.getAllConversations();
        }

        $(function () {
            setConnectionStatus();
        })

        function setConnectionStatus() {
            console.log("in connect method, connected = " + connected);
            if (connected == true)
            {
                $("#connectionSpan").text("");
                $("#connectionSpan").text("Connection Status: Connected!");
            }
            else if (connected == false)
            {
                $("#connectionSpan").text("");
                $("#connectionSpan").text("Connection Status: No Connection");
            }
        }

        //get conId from <a href>, pass to server method
        $('#mySideNav').on('click', 'a', function (event) {
            var conId = $(this).attr('id');
            var conName = $(this).attr('data-address');
            console.log("var conName is... " + conName);
            //set conversationId for any new messages. 
            conversationID = conId;
            //reset notifications since user has accessed sideNav
            $('#newMessageNotificationSpan').text("Notifications:");

            $('#discussion').empty();
            $('#conversationHeading').text("");
            $('#conversationHeading').text('Details:  ' + conName);
            chat.server.openConversation(conId);

        })

        //loading message function
        $(function () {
            chat.client.loadMessage = function (user, content) {
                makeConvDivVisible();
                console.log(content);
                console.log(user);
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(user)
                    + '</strong>: ' + htmlEncode(content) + '</li>');
                console.log(conversationID + "convo id variable");

            }
        })
        //generate list of conversations on side bar
        $(function () {
            chat.client.AddExistingConversation = function (c) {
                //append to page
                html = '<div class="conItem"><a href="javascript:void(0)" class="conItem" id="' + c.ConversationID + '", data-address="' + c.Name + '">' + c.Name + '</a><br/>' +
                    '<p>"'+c.LastMessage+'", '+c.LastEdited+',  </p><br/></div>';
                $('#mySideNav').append(html);
                console.log(html);
            }
        })
  
        //generate a list of conversations in side bar upon click
        $('#existingConversationNavSpan').click(function () {
            getAllConversations();
        })
        
        $(function () {
            chat.client.newMessageNotification = function (conId) {
                html = '<a href="javascript:void(0)" id="' + conId + '" onclick="goToMessage()">click here to view conversation</a><br/>';

                $('#newMessageNotificationSpan').text("You have a new message");
                //do something with this.
            }
        })

        function goToMessage() {
            console.log("go to message");
           // chat.server.openConversation(conId);

        }
            
        //generate list of contacts on the Navbar - this needs refactored on server
        //and client
        $('#newConversationNavSpan').click(function () {
            //initialise recipients
            recipients = []; 
            chat.server.displayContacts();
                
        })

        $(function () {
            chat.client.passContact = function (u) {
                html = '<a href="javascript:void(0)" id=' +u + '>' + u + '</a><br/>';
                console.log(html);
                $('#newConversationSideNav').append(html);
            }

        })

        //Gets contactId from nav side bar
        $('#newConversationSideNav').on('click', 'a', function (event) {
            var contactId = $(this).attr('id');
            console.log(contactId);
            $('#contact-block').append(contactId + " ")
            recipients.push(contactId);
            if (recipients.length == 2) {
                $('#myModal').modal('show');
                conversationName = $('#conName').val();
            }
        })

        $('#select').click(function () {
            chat.server.displayContacts()
                .done(function (contactList) {
                    for (var i = 0; i < contactList.length; i++) {
                        $('#contactselect').append('<option>' + contactList[i]
                            + '</option>');
                    }
                })
        })

        $('#display').click(function () {
            chat.server.displayContacts()
                .done(function (contactList) {
                    for (var i = 0; i < contactList.length; i++) {
                        $('#contacts').append('<li>' + ' ' + contactList[i]
                            + '</li>');
                    }
                    $('<input type="checkbox" />').prependTo($("#contacts").children('li'));
                })
        })

        $('#add-contact').click(function () {
            var value = $('#contactselect').find(":selected").text()
            $('#contact-block').append(value + " ")
            recipients.push(value);
            if (recipients.length == 2) {
                $('#myModal').modal('show');
                conversationName = $('#conName').val();
            }
            
        })     

        $(function () {
            $('#sendmessage').click(function () {
                var message = $('#message').val();
                if (message.length > 0 && conversationID === null) {
                    chat.server.sendFirstMessage(message, recipients, conversationName);
                    // Clear text box and reset focus for next message.
                    $('#message').val('').focus();
                    recipients = [];
                    conversationName = null;
                }
                else if (message.length > 0 && conversationID !== null) {
                    chat.server.send(message, conversationID)
                    //call send method that includes a conversationID
                    $('#message').val('').focus();
                }
            })
        })

        $(function () {
            chat.client.updateConversations = function () {
                //clear convo side nav ..
              //  $("div").remove(".conItem"); 
               // chat.server.getAllConversations();
                getAllConversations();
            } 
        })

        $(function () {
           // makeConvDivInvisible();   
            makeConvDivVisible();
        });

        function makeConvDivInvisible() {
            var conDiv = document.getElementById('conversation-container');
            var content = document.getElementById('conversation-content');
            var message = document.getElementById('message-div');
            content.style.display = 'none';
            message.style.display = 'none';
            conDiv.style.display = 'none';
        }

        function makeConvDivVisible() {
            var conDiv = document.getElementById('conversation-container');
            var content = document.getElementById('conversation-content');
            var message = document.getElementById('message-div');
            content.style.display = 'block';
            message.style.display = 'block';
            conDiv.style.display = 'block';
        }

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>


    <!--<script>
            $(function () {
                // Reference the auto-generated proxy for the hub.
                var chat = $.connection.chatHub;
                // Create a function that the hub can call back to display messages.
                chat.client.addNewMessageToPage = function (name, message) {
                    // Add the message to the page.
                    $('#discussion').append('<li><strong>' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</li>');
                };
                // Get the user name and store it to prepend to messages.
                $('#displayname').val(prompt('Enter your name:', ''));
                // Set initial focus to message input box.
                $('#message').focus();
                // Start the connection.
                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        // Call the Send method on the hub.
                        chat.server.send($('#displayname').val(), $('#message').val());
                        // Clear text box and reset focus for next comment.
                        $('#message').val('').focus();
                    });
                });
            });
            // This optional function html-encodes messages for display in the page.
            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }
    </script>
    -->
    <!--
        <script>
          $(function () {
                var chatProxy = $.connection.chatHub;
                // Create a function that the hub can call to display contacts.
                chatProxy.Invoke("DisplayContacts") = function (contact) {
                    alert(contact + "TEST CONTACT");
                    $('#contacts').append('<li><strong>' + htmlEncode(contact)
                        + '</strong>: ' + '</li>');
                };
                // Start the connection.
                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        // Call the Send method on the hub.
                        chat.server.send($('#displayname').val(), $('#message').val());
                        // Clear text box and reset focus for next comment.
                        $('#message').val('').focus();
                    });
                });
            });
            // This optional function html-encodes messages for display in the page.
            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }
        </script>
    -->



}
