@model InstantMessage.Models.User
@{
    ViewBag.Title = "Conversation";
}
<style>
        .flex-container {
            display: flex;
            flex-direction: column;
            width: 800px;
            height: 250px;
            background-color: lightgrey;
        }

        .flex-item {
            background-color: white;
            width: 400px;
            height: 30px;
            margin: 10px;
        }

        #conversation-content {
            background-color: white;
            width: 400px;
            height: 200px;
            margin: 10px
        }

        #contact-block {
            background-color: white;
            width: 400px;
        }

        .main{
           
        }

        .conitembox { 
            border: 1px solid #535958;
        }

    .condetails {
        padding: 4px 7px;
        text-decoration: none;
        font-size: 12px;
        color: #0a2230;
        display: block;
        transition: 0.3s
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #5fb0e2;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .navheading {
        position:center;
        border: 1px solid #535958;
    }

    #connavtext {
        padding: 4px 7px;
        text-decoration: none;
        font-size: 18px;
        color: #0a2230;
        display: block;
        transition: 0.3s;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 4px 7px;
        text-decoration: none;
        font-size: 18px;
        color: #0a2230;
        display: block;
        transition: 0.3s
    }


    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }
    .navheading:hover, .offcanvas .navheading:focus {
        color: #f1f1f1;
    }

            /* Position and style the close button (top right corner) */
            .sidenav .closebtn {
                position: absolute;
                top: 20px;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
          
            padding: 20px;
        }


    .chatItem {
        border: 1px solid #535958;
        color: #0a2230;
        background-color: #5fb0e2;
        
    }


        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
      see https://www.w3schools.com/howto/howto_js_sidenav.asp
    */
</style>

<div id="mySideNav" class="sidenav">
    <!--
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    -->
    <div class="navheading">
        <div>
            <span style="font-size:30px;cursor:pointer" id="newConversationNavSpan" onclick="openNewConversationNav()">&#9776; New</span>
        </div>
        <h5 id="connavtext"></h5>
    </div>
     
</div>

<div id="newConversationSideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNewConversationNav()">&times;</a>
    <h4>Select a contact</h4>
    <div class="flex-item" id="selectedContact"><div class="flex-item">Conversation with:<div id="contact-block"></div></div></div>
    <button id="startNewButton" class="button">Start Conversation</button>
</div>

<div id="main" class="main">
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body" id="conNameDiv">
                            Give your conversation a name:<br/>
                            <input type="text" id="conName" name="conName" />        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="conNameButton" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newMessageNotification">
        <span id=newMessageNotificationId></span>
        <span style="font-size:20px" id="newMessageNotificationSpan">Notifications</span>
    </div>
    
    <div>
        <span style="font-size:30px;cursor:pointer" id="existingConversationNavSpan" onclick="openNav()">&#9776; View Conversations</span>
    </div>
    <div id="connectionStatus">
        <span style="font-size:15px" id="connectionSpan">&#9776; Connection Status: Not Connected </span>
    </div>

    <div id="conversation-container">
       <div class="flex-item" id="conversation-content" style="overflow: scroll; width: 500px; height: 200px;">
           <h4 id="conversationHeading"></h4>
            <input type="hidden" id="displayname" />
            <ul id="discussion"></ul>
        </div>
        <div class="flex-item" id="message-div">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
        </div>
    </div>  
</div>



@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script src="~/Scripts/InstantMessage.js"></script>

    <script>
       


</script>

}
