
@{
    ViewBag.Title = "NewUser";
}

<h2>Welcome NewUser</h2>

<div>
    <h3>Please start a new conversation</h3>
    <form action="/home/">
        <input type="submit" value="Example form button(Home)" />
    </form>

    <a href="/home/CreateConversation">Start a New Conversation</a>
    
</div>


